target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Optionals & Secrets ###
.env
*.env
.env.local
application-dev.yml
application-local.yml
src/main/resources/application-dev.yml
src/test/resources/application-test.yml
*serviceAccountKey*.json
*serviceAccount*.json
*.json.json
*.pem
*.key
*.p12
*.jks
scratch/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs & Temp ###
*.log
*.tmp
